.goku {
  position: relative;
  width: 1%;
  height: 1%;
  white-space: nowrap;
}

.goku-caption {
  font-size: 60px;
}

.goku-message {
  position: relative;
  font-size: 140px;
  left: 480px;
  top: -400px;
}
